<!DOCTYPE html>
<html>
<head>
<style>

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 50px;
  font-size: 50px;
}

.message {
  font-size: 18px;
}


</style>
</head>

<body>
<section class="centered">
  <h1>500 Server Error</h1>
  <div class="container">
    <div><span class="message">No results found.</span></div>
    <div><span class="message">Please ensure your search is in the following format:</span></div>
    <div><span class="message">Case Name (e.g. John v Smith),</span></div>
    <div><span class="message">Part of offence name (e.g. Forgery - try to avoid), or</span></div>
    <div><span class="message">Statute name (e.g. Section 33 Criminal Procedure Code)</span></div>
    <div><span class="message">If your search input was correct, it's probably me, sorry!</span></div>
  </div>
</section>
</body>
